<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id = "Title">
        <img src="../static/brain icon.jpg" alt="icon" width="60" height="60">
        Brain Tumor Detection
    </h1>
    <br>
    <div class="container">
        
        
    </div>
    <div class="context">
        <h2>
            Input image
        </h2>
        <ul>
            <li>Input MRI images must be a transverse MRI image</li>
        </ul>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="inputImage" name="inputImage" accept="image/*">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>